.menu{position: fixed;width: 25%;left: 0;top: 0;background-color: #e8e8e8;height: 100vh;text-align: center;}
.menu .logo img{width: 250px;}
.menu ul{text-align: left;list-style: none;padding-left: 0px;}
.menu ul li {padding: 20px 40px;font-size: 20px;border-bottom: 2px solid black;}

.main{width: 75%;margin-left: 30%;padding-top: 50px;}

.main .product-list{width: 80%;margin-left: 10%;padding: 30px 0px;display: flex;align-items: center;justify-content: space-between;}
.main .product-list img{width: 100px;}
.main .product-list .product-item{text-align: center;}
.main .product-list .formula-editor{background: #e8e8e8;padding: 50px;border-radius: 5px;}
.main .product-list .formula-editor span{margin-right: 10px;font-size: 20px;}
.main .product-list .formula-editor input{margin-right: 10px;font-size: 20px;}
.main .product-list .formula-editor button{margin-right: 10px;font-size: 20px;background-color: white;}